---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="about">
  <main class="max-w-2xl mx-auto">
    <h1 class="text-4xl font-bold mb-8 text-tokyo-night-accent1">About</h1>
    <div class="content mb-8">
      <!-- Add more content here -->
    </div>

    <section>
      <h2 class="text-2xl font-bold mb-4 text-tokyo-night-accent2">Contact Information</h2>
      <ul class="space-y-2">
        <li>ğ•: <a href="https://x.com/tolly_xyz" target="_blank" class="text-tokyo-night-accent3 hover:underline">@tolly_xyz</a></li>
        <li>github: <a href="https://github.com/tolly-xyz" target="_blank" class="text-tokyo-night-accent3 hover:underline">tolly-xyz</a></li>
        <li>linkedin: <a href="https://www.linkedin.com/in/t0lly/" target="_blank" class="text-tokyo-night-accent3 hover:underline">á´›á´ÊŸÊŸÊ ( Í¡Â° ÍœÊ– Í¡Â°)</a></li>
      </ul>
    </section>
  </main>
</BaseLayout>
