---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="about">
  <main>
    <h1>About</h1>
    <div class="content">
      <!-- Add more content here -->
    </div>

    <section>
      <h2>Contact Information</h2>
      <ul>
        <li>ğ•: <a href="https://x.com/tollyferro" target="_blank">@tollyferro</a></li>
        <li>github: <a href="https://github.com/orrefailaT" target="_blank">orrefailaT</a></li>
      </ul>
    </section>
  </main>
</BaseLayout>
