---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="home">
  <main class="text-center">
    <h1 class="text-5xl font-bold mb-8 text-tokyo-night-accent1">hey</h1>

    <section class="space-y-4">
      <p class="text-lg">my name is zach, i love programming and building and learning new things.</p>
      <p class="text-lg">i currently work as a software engineer doing fullstack webdev, web scraping, and browser extension dev. i love my wife and kids and dog.</p>
      <p class="text-lg">thanks for stopping by!</p>
    </section>
  </main>
</BaseLayout>
