---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="home">
  <main class="text-center">
    <h1 class="text-5xl font-bold mb-8 text-tokyo-night-accent1">hey</h1>

    <section class="space-y-4">
      <p class="text-lg">i just set this up so there's not much here and it looks like garbage</p>
      <p class="text-lg">check back later, hoping to build this out more soon</p>
      <p class="text-lg">thanks for stopping by!</p>
    </section>
  </main>
</BaseLayout>
